<div id="{{checkin.checkinKey}}">
    <p>
        {{#if checkin.owner}}
            <i class="delete small material-icons text-darken-4" data-type="Checkin" data-key="{{checkin.checkinKey}}">delete</i>
        {{/if}}
        
        {{checkin.Location.Name}}
        
        {{#if checkin.owner}}
            <a class="waves-effect waves-light btn modal-trigger" href="#noteModal" data-key="{{checkin.checkinKey}}">Add Note</a>
            <form class="imageUpload">
                <input data-key="{{checkin.checkinKey}}" type="file" accept="image/*" />
            </form>
        {{/if}}
    </p>
         
    <h5>Notes</h5>
    <ul class="notes" data-key="{{checkin.checkinKey}}">
        {{> notes notes=checkin.Notes owner=checkin.owner}}
    </ul>
    <h5>Photos</h5>
    <div class="images row" data-key="{{checkin.checkinKey}}">
        {{> photos photos=checkin.Photos owner=checkin.owner}}
    </div>
</div>