<span>{{location.name}}</span>
<button class="waves-effect waves-light btn locationBtn" data-key="{{location.id}}+{{location.name}}+{{location.location.lat}}+{{location.location.lng}}">Select</button>
<br><br>