<div class="col s12 m6" id="{{trip.tripLink}}">
    <div class="card carousel-item">
        <div class="card-image">
            {{#if trip.photo}}
                <img style="height: 250px;" src="{{trip.photo.URL}}"> 
            {{else}}
                <!-- need to replace with default image -->
                <img style="height: 250px;" src="https://placekitten.com/g/300/300"> 
            {{/if}}
            
        </div>
        <div class="card-action card-panel cyan lighten-3">
            <span class="card-title">{{trip.Title}} <a href="/trip/{{trip.tripLink}}" class="white-text"><button class="btn waves-effect waves-light">View</button></a></span>
        </div>
    </div>
</div>