
<div class="col s12 m6 current">
    <div class="card carousel-item"  id="{{trip.tripLink}}/{{trip.Title}}/{{trip.Description}}">
        <div class="card-image">
            {{#if trip.photo}}
                <img style="height: 250px;" src="{{trip.photo.URL}}"> 
            {{else}}
                <!-- need to replace with default image -->
                <img style="height: 250px;" src="https://placekitten.com/g/300/300"> 
            {{/if}}
        </div>
    </div>
</div>